.formContainer {
	max-width: 400px;
	margin: auto;
}

.form {
	background-color: white;
	padding: 20px;
	border: 1px solid #3d9bff;
	display: flex;
	flex-direction: column;
}
.form p {
	display: flex;
	flex-direction: column;
}

.form label {
	font-weight: 600;
	margin-bottom: 5px;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}
.form input[type="text"] {
	font-family: "Poppins", sans-serif;
	height: 20px;
	padding: 5px;
}

.form input[type="submit"] {
	font-family: "Poppins", sans-serif;
	width: 100%;
	background-color: #3d9bff;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
}

.form input[type="submit"]:hover {
	opacity: 0.8;
}
