.postDetailContainer {
	width: 600px;
	background-color: white;
	margin: 40px auto;
}

.postDetail {
	display: flex;
}
.headlineCtn {
	text-align: left;
	margin-left: 20px;
}
.postHeadline {
	font-size: 16px;
}
.date {
	font-size: 10px;
}
.pimg {
	margin: 10px 0 0 10px;
	width: 40px;
	height: 40px;
}
.comment {
	margin-left: 30px;
}

.details {
	padding: 0px 20px;
	margin-left: 50px;
}
.comment input[type="text"] {
	width: 400px;
	height: 30px;
}

.comment input[type="submit"] {
	margin-left: 30px;
	font-family: "Poppins", sans-serif;
	background-color: #3d9bff;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
}

.home {
	margin: 30px 0 0 30px;
	font-family: "Poppins", sans-serif;
	background-color: #3d9bff;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
}
