/*#2F6635*/
.container {
	text-align: center;
	margin: 0 auto;
}

.postAndSide {
	display: flex;
	justify-content: center;
}
.sideBar {
	height: 300px;
	background-color: white;
	width: 200px;
	margin: 0 -40px 0 40px;
}

.p {
	margin-left: 30px;
	font-family: "Poppins", sans-serif;
	font-size: 35px;
	font-weight: 600;
	text-decoration: none;
}

.createBtn {
	width: 300px;
	background-color: #fff;
	color: black;
	text-decoration: none;
	border: 2px solid #3d9bff;
	border-radius: 5px;
	padding: 5px 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.createBtn:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) {
	.filters {
		margin: 20px auto;
		max-width: 850px;
		display: flex;
		flex-direction: column;
	}
}
